@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.ProductTag.Localization
@model EasyAbp.EShop.Plugins.ProductTag.Web.Pages.EShop.Products.ProductTag.IndexModel
@inject IStringLocalizer<ProductTagResource> L
@{
}
<h1>ProductTag</h1>
<p>@L["SamplePageMessage"]</p>
