@page
@inherits EasyAbp.EShop.Payment.WeChatPay.Web.Pages.WeChatPayPage
@model EasyAbp.EShop.Payment.WeChatPay.Web.Pages.WeChatPay.IndexModel
@{
}
<h1>WeChatPay</h1>
<p>A sample page for the WeChatPay module.</p>