@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.StoreApproval.Localization
@model EasyAbp.EShop.Plugins.StoreApproval.Web.Pages.StoreApproval.IndexModel
@inject IStringLocalizer<StoreApprovalResource> L
@{
}
<h1>StoreApproval</h1>
<p>@L["SamplePageMessage"]</p>
