@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.Baskets.Localization
@model EasyAbp.EShop.Plugins.Baskets.Web.Pages.Baskets.IndexModel
@inject IStringLocalizer<BasketsResource> L
@{
}
<h1>Baskets</h1>
<p>@L["SamplePageMessage"]</p>
