@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.Booking.Localization
@model EasyAbp.EShop.Plugins.Booking.Web.Pages.EShop.Plugins.Booking.IndexModel
@inject IStringLocalizer<BookingResource> L

@{
}
<h1>Booking</h1>
<p>@L["SamplePageMessage"]</p>
