@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.Coupons.Localization
@model EasyAbp.EShop.Plugins.Coupons.Web.Pages.EShop.Plugins.Coupons.IndexModel
@inject IStringLocalizer<CouponsResource> L
@{
}
<h1>Coupons</h1>
<p>@L["SamplePageMessage"]</p>
