@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EShop.Plugins.FlashSales.Localization
@using EasyAbp.EShop.Plugins.FlashSales.Web.Pages.EasyAbp.EShop.Plugins.FlashSales
@model IndexModel
@inject IStringLocalizer<FlashSalesResource> L

@{
}
<h1>FlashSales</h1>
<p>@L["SamplePageMessage"]</p>
