@page
@inherits EasyAbp.EShop.Payments.WeChatPay.Web.Pages.WeChatPayPage
@model EasyAbp.EShop.Payments.WeChatPay.Web.Pages.EShop.Payments.WeChatPay.IndexModel
@{
}
<h1>WeChatPay</h1>
<p>A sample page for the WeChatPay module.</p>